html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body{
height:1100px;
}
div{
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
/*-------------------------------HEADER CSS-----------------------------------*/
.header{
position:fixed;
z-index:9000;
top: 0; left: 0; width: 100%;
border-radius:2px;
background-color:white;
height:80px;
border-top:7px solid #61D1FF;
}

.icons{
margin-top:12px;
position:absolute;
width:210px;
margin-right:200px;
right:0;
height:50px;
}

.facebookIcon, .twitterIcon,.githubIcon,.linkedinIcon, .nameLogo, #message, #work, #companyLink, .icons, .temporaProject, body, html{
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}

#companyLogo:hover{
transform: rotate(45deg) scale(3) skew(1deg) translate(0px);
-webkit-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-moz-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-o-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-ms-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
}

.facebookIcon{
position:absolute;
background-size: contain;
background-image: url('facebookNew.png'); 
background-repeat: no-repeat;
background-position: center 0;
width:50px;
height:50px;
}

.facebookIcon:hover,.twitterIcon:hover,.githubIcon:hover,.linkedinIcon:hover, .nameLogo:hover, .githubLinkP1:hover{
transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-moz-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-o-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-ms-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
}

.twitterIcon{
position:absolute;
background-size: contain;
background-image: url('twitterNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:55px;
width:50px;
height:50px;
}
.githubIcon{
position:absolute;
background-size: contain;
background-image: url('githubNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:110px;
width:50px;
height:50px;
}
.linkedinIcon{
position:absolute;
background-size: contain;
background-image: url('linkedinNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:165px;
width:50px;
height:50px;

}
.nameLogo{
position:absolute;
/*background-image: url('full_name_lb.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center 0;*/
font-family: "Lucida Sans Unicode";
font-size:2.5em;
margin-top:15px;
color:#3ac5ff;
margin-left:12%;
width:150px;
height:70px;
}

#message{
max-width:1050px;
position:absolute;
font-family: "Comic Sans MS" ,"Times New Roman", Helvetica, Arial, sans-serif;
font-weight: normal;
margin-top:55px;
margin-left:28%;
}
#work{
position:absolute;
margin-top:25px;
margin-left:28%;
font-family:"Comic Sans MS";
}
#oldProgram{
font-weight:900;
}
.div{
/*max-width: 100%;*/
}
/*----------------------------HEADER CSS END---------------------------------*/
/*----------------------------ABOUT ME CSS---------------------------------*/
.sectionOne{
width:100%;
border-bottom:6px solid white;
padding:0;

margin:0;
margin-top:-33px;
background-color:#4baad3;
height:400px;
}
.containerOne{
width:70%;
margin-left:auto;
margin-right:auto; 
margin-top:120px;
height:400px;
}
.sectionTwo{
position:relative;
width:100%;
padding:0;
top:0;
height:420px;
}
.containerTwo{
position:relative;
width:70%;
margin-left:auto;
margin-right:auto;
height:420px;
}
.sectionThree{
position:relative;
width:100%;
border-bottom:2px solid black;
padding:0;
top:0;
height:950px;
}
.containerThree{
width:70%;
border-top:1px solid #4099FF;

margin-left:auto;
margin-right:auto;
height:320px;
}
.containerForm{
width:70%;
border-radius:1%;
margin-left:auto;
margin-right:auto;
height:320px;
}
/*----------------------SECTIONS END----------------------*/
.aboutSection{
position:relative;
max-width: 100%;
margin-right:0;
width:100%;
margin-top:0px;
border-radius:20px;
height:400px;
display:inline-block;
}
.aboutTitle{
position:relative;
text-align:center;
max-width: 100%;
margin-left:auto;
margin-right:auto;
font-family:"Open Sans L";
font-weight: 600;
font-size:2.5em;
margin-top:150px;
color:white;
height:320px;
}
#personalPhoto{
background-size: cover;
background-image: url('picture3.png');
background-repeat: no-repeat;
position:absolute;
margin-top:0px;
background-color:black;
border:2px solid black;
background-position: center 0;
border-radius:13px;
width:300px;
height:300px;
background-color:black;
right:0;
}
a {text-decoration:none;}
.resumeButton{
width:120px;
position:relative;
height:40px;
margin-left:auto;
margin-top:-200px;
margin-right:auto;
text-align:center;
vertical-align:center;
text-decoration:none;
font-family:"Lucida Sans Unicode";
background: #826994;
line-height: 40px;
border-radius: 25px;
padding:0px 23px 0px 23px;
}
.resumeButton:hover{
background:#ADA4B4;
}
#viewResumeText{
color:white;
text-decoration:none;
}
#description{
width:300px;
max-width:70%;
position:relative;
color:white;
margin-left:auto;
margin-right:auto;
left:0;
font-family:"Lucida Sans Unicode";
margin-top:100px;
text-align:center;

}
/*----------------------------ABOUT ME END---------------------------------*/
/*----------------------------Work Experience start------------------------*/
/*.workExperience{
position:relative;
max-width: 100%;
width:100%;
margin-left:auto;
margin-right:auto;
font-family:"Helvetica";
margin-top:20px;
font-size:1.5em;
color:#3ac5ff;
height:320px;
}*/
#workTitle{
position:relative;
text-align:center;
margin-left:auto;
margin-right:auto;
font-family:"Open Sans";
font-size: 42px;
}
#androidDeveloper{
position:relative;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-left:10px;
font-family:"Open Sans";
font-size:2em;
margin-top:30px;
color:#3ac5ff;
}
.vitalhubDetails{
margin-top:10px;
font-family:"Open Sans";
font-size: 17px;
line-height: 1.6;
margin-left:auto;
margin-right:auto;
text-align:center;

}



/*----------------------------PROJECT ONE START----------------------------*/
.projectOne{
position:relative;
max-width: 100%;
margin-top:20px;
width:100%;
height:320px;

}
#projectsTitle{
position:relative;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family:"Open Sans";
font-size:3em;
color:black;
}
#project1Title{
position:relative;
font-family:"Open Sans L";
text-align:center;
margin-left:auto;
margin-right:auto;
font-size:3em;
margin-top:40px;
color:black;

}
.githubLinkP1{
display:none;
position:absolute;
width:80px;
height:80px;
border:2px solid white;
margin-top:80px;
border-radius:1245px;
padding:0;
background-image: url('githubNew.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center 0;
right:0;

}
#project1Description{
position:relative;
position:absolute;
margin-top:10px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size: 17px;
line-height: 1.6;
font-family:"Open Sans L";
color:#2f2222;
}
.projectOnePhotos{
position:relative;
width:100%;
height:363px;
margin-top:130px;
margin-left:auto;
margin-right:auto;
list-style-type:inline;
}
#project1photo1container{
position:absolute;
left:0;
width:26.67%;
height:363px;
background-color:red;
}
#project1photo2container{
position:absolute;
margin-left:38%;
width:26.67%;
height:363px;
background-color:red;
}
#project1photo3container{
position:absolute;
right:0;
width:26.67%;
height:363px;
background-color:red;
}
#project1photo1{
position:absolute;
width:100%;
height:100%;
/*background-image: url('project1photo1.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center 0;*/
background-color:black;
}
#project1photo2{
position:absolute;
width:100%;
height:100%;
background-color:black;
}
#project1photo3{
right:0;
position:absolute;
width:100%;
height:100%;
background-color:black;
}
#project1photo4{
position:absolute;
width:24%;
height:363px;
border:2px solid white;
border-radius:3px;
background-color:black;
margin-left:75%;

}
.goto{
position:fixed;

z-index:9000;
width:50px;
height:50px;
background-color:red;
}
/*---------------------------------FORM START---------------------------------*/
.contactMeForm{
position:relative;
font-family:"Helvetica";
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:3em;
color:#4099FF;
}
#contactForm{
position:relative;
margin-left:50%;
}
#formBox{
border:2px solid #4099FF;
border-radius:3px;
}
.formFirstName{
width:460px;
height:30px;
}
.formLastName{
width:450px;
height:30px;
}
.formFirtName:focus{
  
}
.formSubject{
width:930px;
height:30px;
}
.formMessage{
width:930px;
height:50px;
}
.submitButton{
width:930px;
border-radius:3px;
border:2px solid ##4099FF;
height:60px;

}
@font-face {
    font-family: 'Open Sans Bold'; /*a name to be used later*/
    src: url('OpenSans-SemiBold.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Open Sans'; /*a name to be used later*/
    src: url('OpenSans-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Open Sans L'; /*a name to be used later*/
    src: url('OpenSans-Light.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Open Sans I'; /*a name to be used later*/
    src: url('OpenSans-Italic.ttf'); /*URL to font*/
}
/*
@media screen and (max-width: 830px)
{
    .icons{
    position:absolute;
    margin-top:35px;
    margin: 0 auto;
    }
    #work{
    
    }
    .nameLogo{
    margin-left:0px;
    }
    
    .aboutSection{
    }
    
    .aboutTitle{
    margin-left:0%;
    }
    #personalPhoto{
    margin-right:-20%;
    }
    #description{
    max-width:150px;
    
    }
}
@media screen and (max-width: 1060px) {
    .container { 
    width:80%;
    }
}
@media screen and (max-width: 500px) {
     #work{
    position:absolute;
    margin-top:190px;
    }
    .aboutSection{
    }
    .aboutTitle{
    margin-left:70px;
    margin-top:30px;
    }
    #personalPhoto{
    position:absolute;
    left:0;
    top:90%;
    background-color:white;
    }
    #description{
    text-align:center;
    }
    

}
*/
@media screen and (max-width: 768px)
{
    .icons{
    position:absolute;
    margin: 0 auto;
    margin-top:10px;
    }
    .aboutTitle{
    margin-top:70px;
    }
    .resumeButton{
    margin-top:-150px;
    }

    .nameLogo{
    margin-left:0px;
    }
    
    .aboutSection{
    }
    
    .aboutTitle{
    margin-left:0%;
    }
}
@media screen and (max-width: 480px)
{
    .icons{   
    margin-top:50px;
    margin-bottom:0px;
    }
    .header{
        height:100px;
    }
    #work{
    
    }
    #workTitle{
    font-size:3em;
    }
    .nameLogo{
    margin-left:0px;
    margin-top:0px;
    }
    
    .aboutSection{
    }
    
    .aboutTitle{
    margin-left:0%;
    margin-top:100px;
    font-size:1.5em;
    text-align:center;
    }
    #androidDeveloper{
    margin-left:0px;
    }
    .companyLogo{
    width:100px;
    height:25px;
    right:0;
    margin-right:-30px;
    margin-top:90px;
    }
   
    .sectionThree{
    margin-top:100px;
    }
    .containerThree{
   
    }
    
}
@media screen and (max-width: 390px)
{
    .sectionThree{
    margin-top:320px;
    }
    .containerThree{
   
    }
    
}

/* Tabled Portrait */

