body{
   background-image: url('skulls.png');
   
}
.container{
max-width:960px;
width:960px;
border-radius:1%;
height:1000px;
 margin: 0 auto;
 background-image: url('skulls.png');
}

.header{
max-width: 960px;
width:960px;
height:120px;
}
.icons{

margin-top:63px;
position:absolute;

width:220px;
margin-right:150px;
right:0;
height:50px;
}
.facebookIcon, .twitterIcon,.githubIcon,.linkedinIcon, .nameLogo, #message, #work, #companyLink{
transition:All 1s ease;
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
}
#companyLogo:hover{
transform: rotate(45deg) scale(3) skew(1deg) translate(0px);
-webkit-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-moz-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-o-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);
-ms-transform: rotate(45deg) scale(3) skew(0deg) translate(4px);

}
.facebookIcon{
position:absolute;
background-size: contain;
background-image: url('facebookNew.png'); 
background-repeat: no-repeat;
background-position: center 0;
width:50px;
height:50px;
}
.facebookIcon:hover,.twitterIcon:hover,.githubIcon:hover,.linkedinIcon:hover, .nameLogo:hover{
transform: rotate(4deg) scale(1) skew(1deg) translate(0px);
-webkit-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-moz-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-o-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
-ms-transform: rotate(4deg) scale(1) skew(0deg) translate(4px);
}

.twitterIcon{
position:absolute;
background-size: contain;
background-image: url('twitterNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:55px;
width:50px;
height:50px;
}
.githubIcon{
position:absolute;
background-size: contain;
background-image: url('githubNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:110px;
width:50px;
height:50px;
}
.linkedinIcon{
position:absolute;
background-size: contain;
background-image: url('linkedinNew.png');
background-repeat: no-repeat;
background-position: center 0;
margin-left:165px;
width:50px;
height:50px;

}
.nameLogo{
position:absolute;
background-image: url('full_name.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center 0;
margin-top:50px;
margin-left:0px;
width:150px;
height:70px;
}

#message{
max-width:960px;
position:absolute;
color: #181818;
font-family: "Comic Sans MS" ,"Times New Roman", Helvetica, Arial, sans-serif;
font-weight: normal;
margin-top:75px;
margin-left:160px;
}
#work{
position:absolute;
margin-top:100px;
margin-left:160px;
font-family:"Comic Sans MS"

}
#oldProgram{
font-weight:900;
}
.div{
max-width: 100%;
}
.companyLogo{
width:151px;
height:50px;
position:absolute;
background-size: contain;
background-image: url('vitalhubLogo1.png');
background-repeat: no-repeat;
background-position: center 0;

}
@media screen and (max-width: 830px)
{
    .icons{
    margin-top:35px;
    margin: 0 auto;
    }
    #work{
    margin-top:130px;
    margin-left:10px;
    }
}
@media screen and (max-width: 1060px) {
    .container { 
    width:960px;
    }
}
@media screen and (max-width: 500px) {
     #work{
    position:absolute;
    margin-top:185px;
    }
}
/* Tabled Portrait */

